<!DOCTYPE html>
<html lang=sv-se>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Portfolio</title>
    <link rel="stylesheet" href="/styles/cv.css" type="text/css">

    <!-- Google fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com"> 
  </head>
  <body>
      <main>
        <!--<canvas id="canvas"></canvas>-->
        <div id="banner"></div>

        <div class="flex-container" id="mid-section">

            <div class="card" id="cv-card">
                <div class="card-content">
                    <h1 id="title">Hämta CV</h1>
                    <h2>Hej!<br> Antar att du är här för att du vill hämta mitt CV!</h2>
                </div>
            </div>

            <div class="card" id="download">
                <a href="/other/CV.pdf" download id="dl">
                    <img src="img/download.svg" id="img">
                </a>
            </div>
        </div>
      </main>
    <script src="js/index.js"></script>
  </body>
</html>