<!DOCTYPE html>
<html lang=sv-se>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Portfolio</title>
    <link rel="stylesheet" href="/styles/style.css" type="text/css">

    <!-- Google fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com"> 
  </head>
  <body>
      <main>
        <div id="banner"></div>
        <div class="card" id="title-card">
          <div class="card-content">
            <h1>Christoffer <br> Billman </h1>
            <img src="img/profile.jpg" id="profile-image">
            <h2>Engineering Student</h2>

            <div class="whitespace-vertical"></div>

            <div class="social-list">
              <img src="img/sweden.png" id="sweden">
              <img src="img/github.svg" class="emblem">
              <img src="img/instagram.svg" class="emblem">
              <img src="img/snapchat.svg" class="emblem">
            </div>

            <div class="whitespace-vertical"></div>

            <p>
              Currently studying Masters in Engineering, Interaction and
              Design at Umeå University.
              <br><br>
              Graphic design, programming and
              web development are things that intrest me!
            </p>
          </div>
        </div>

        <div id="language">
          <a href="/" style="color: white;">På Svenska?</a>
        </div>
        
        <section>
          <h1>Projects</h1>

          <div class="flex-container">

            <div class="card" id="gronamackan">
              <img src="img/gronamackan.png" class="card-banner-right">
              <div class="card-content">
                <h2>The green sandwich</h2>
                <p>
                  Detta var ett projekt under kursen design för användarupplevelse.
                  Gröna mackan är ett koncept för ett veganskt take-away café i Umeå.
                  Vår uppgift var att skapa deras grafiska profil och designa deras mobilapp.
                </p>
              </div>
            </div>

            <div class="card">
              <img src="img/bg.svg" class="card-banner-top">
              <div class="card-content">
                <h1>Två</h1>
              </div>
            </div>

          </div>
        </section>
      </main>
    <script src=""></script>
  </body>
</html>