<div class="card">
    <img src="img/chat-icon.png" class="card-banner-top">
    <div class="card-content">
      <h2>Slutprojekt webbutveckling 2</h2>

      <div class="whitespace-vertical"></div>

      <p>
        Mitt slutprojekt i kursen webbutveckling 2 var att skapa
        en webbaserad chattapplikation. Den utvecklades med hjälp av
        node + MySQL som backend, och PUG som frontend.<br><br>
        Det är i detta projektet som jag blev introducerad till <b>"callback hell"</b>
      </p>
      <div class="whitespace-vertical"></div>
      <a class="button" href="">GitHub</a>
    </div>
  </div>

  <div class="card">
    <img src="img/skissteknik.png" class="card-banner-top">
    <div class="card-content">
      <h2>Bokningsystem för grupprum</h2>

      <div class="whitespace-vertical"></div>

      <p>
        Detta var en uppgift under kursen 'Design för användarupplevelse' på
        Designhögskolan i Umeå. Uppgiften gick ut på att skapa wireframes för
        ett tänkt bokningsystem för grupprum.
      </p>
      <div class="whitespace-vertical"></div>
      <a class="button">Se bilder</a>
    </div>
  </div>

  <div class="card">
    <img src="img/portfolio.png" class="card-banner-top">
    <div class="card-content">
      <h2>Portfoliosida v3</h2>

      <div class="whitespace-vertical"></div>

      <p>
        Mitt tredje försök till en portfoliosida - och den du besöker just nu!
      </p>
    </div>
  </div>

  <div class="card" id="gronamackan">
    <img src="img/gronamackan-ikoner.png" class="card-banner-right">
    <div class="card-content">
      <h2>Gröna mackan</h2>
      <p>
        Detta var ett projekt under kursen design för användarupplevelse.
        Gröna mackan är ett koncept för ett veganskt take-away café i Umeå.
        Vår uppgift var att skapa deras grafiska profil och designa deras mobilapp.
      </p>
    </div>
  </div>

  <div class="card" id="gronamackan">
    <img src="img/gronamackan-ikoner.png" class="card-banner-right">
    <div class="card-content">
      <h2>Upplevelsen<br> - Ett koncept för Västerbottensosts varumärkeshem</h2>
      <p>
        Detta var ett projekt under kursen design för användarupplevelse.
        Gröna mackan är ett koncept för ett veganskt take-away café i Umeå.
        Vår uppgift var att skapa deras grafiska profil och designa deras mobilapp.
      </p>
    </div>
  </div>